*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.4;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: unset;
}

ul li{
  list-style: none;
}

.grid{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}